---
import IconFooter from "../../icons/IconFooter.astro"
---

<footer>
  <div class="container">
    <div class="footer-main">
      <div class="footer-brand">
        <div class="logo">
          <IconFooter />
          Vortex
        </div>
        <p>Conectamos el mundo con soluciones innovadoras en telecomunicaciones. Impulsamos tu negocio hacia el futuro digital.</p>
      </div>
      <div class="footer-links">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="/products">Productos</a></li>
          <li><a href="/services">Servicios</a></li>
          <li><a href="/about">Nosotros</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Autor</h4>
        <ul>
          <li><a href="https://github.com/GaboGabito05">GitHub</a></li>
          <li>
            <a href="https://www.linkedin.com/in/gabriel-polack-castillo">LinkedIn</a>
            <span class="hiring">Agregame!</span>
          </li>
          <li><a href="https://x.com/Gabicho_05">Twitter</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>TEAM SISE</h4>
        <ul>
          <li><a href="https://www.linkedin.com/in/douglasmorean/">Douglas Morean</a></li>
          <li><a href="https://www.linkedin.com/in/felix-eduardo-requejo-yliquin-43647526a/">Eduardo Requejo</a></li>
          <li><a href="https://www.linkedin.com/in/aimar-de-la-cruz-89ab432a4/">Aimar de la Cruz</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>All rights reserved &copy; 2025</p>
      <div class="made-with">
        Made with &hearts; by Gabriel Polack
      </div>
    </div>
  </div>
</footer>