---
import IconNav from "../../icons/IconNav.astro"
---

<nav class="main-nav">
  <div class="container nav-container">
    <a href="/" class="logo">
      <IconNav />
      Vortex
    </a>
    <div class="nav-links">
      <a href="/products">Productos</a>
      <a href="/services">Servicios</a>
      <a href="/about">Nosotros</a>
      <button class="btn btn-nav" id="sistema">Intranet</button>
    </div>
    <button class="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
