---
import IconHeart from "../../icons/IconHeart.astro";
import IconUser from "../../icons/IconUser.astro";
import IconGlobal from "../../icons/IconGlobal.astro";
---

<section class="values">
  <div class="container">
    <div class="section-header text-center">
      <h2>Nuestros Valores</h2>
      <p>Lo que nos impulsa hacia adelante</p>
    </div>
    <div class="values-grid">
      <div class="value-card">
        <div class="value-icon">
          <IconHeart />
        </div>
        <h3>Innovación</h3>
        <p>Lideramos el camino en tecnología de telecomunicaciones, siempre buscando soluciones innovadoras para conectar al mundo.</p>
      </div>

      <div class="value-card">
        <div class="value-icon">
         <IconUser />
        </div>
        <h3>Enfoque en el Cliente</h3>
        <p>Nuestros clientes son nuestra prioridad. Nos esforzamos por ofrecer experiencias excepcionales y soluciones a medida.</p>
      </div>

      <div class="value-card">
        <div class="value-icon">
          <IconGlobal />
        </div>
        <h3>Conectividad Global</h3>
        <p>Buscamos reducir las barreras de comunicación, llevando conectividad confiable a cada rincón del planeta.</p>
      </div>
    </div>
  </div>
</section>