<section class="services">
  <div class="container">
    <h2>Nuestros Servicios</h2>
    <h3>Conectamos el mundo con soluciones innovadoras y confiables.</h3>
    <div class="services-grid">
      <div class="service-panel">
        <div class="service-icon">
          <img src="https://i.imgur.com/wzDRmpn.jpeg" alt="icon">
        </div>
        <h4>Internet de Alta Velocidad</h4>
        <p>Disfruta de conexiones rápidas y estables para tu hogar o negocio.</p>
        <button class="explore-btn">Explorar <span>→</span></button>
      </div>
      <div class="service-panel">
        <div class="service-icon">
          <img src="https://i.imgur.com/lGVbePx.jpeg" alt="img2">
        </div>
        <h4>Servicios en la Nube</h4>
        <p>Almacena y gestiona tus datos de manera segura y eficiente.</p>
        <button class="explore-btn">Explorar<span>→</span></button>
      </div>
      <div class="service-panel">
        <div class="service-icon">
          <img src="https://i.imgur.com/5q9B2Yi.jpeg" alt="img3">
        </div>
        <h4>Soluciones Empresariales</h4>
        <p>Conectividad y herramientas diseñadas para el éxito de tu negocio.</p>
        <button class="explore-btn">Explorar<span>→</span></button>
      </div>
    </div>
  </div>
</section>
